<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionsDao" class="com.pvil.otuscourse.task01.dao.QuestionsDaoCsvResources"/>

    <bean id="testingService" class="com.pvil.otuscourse.task01.service.TestingServiceGeneral">
        <constructor-arg name="dao" ref="questionsDao"/>
    </bean>

</beans>
